# Python Kodları

## import

In [2]:
import pandas as pd

In [6]:
dataframe = pd.read_csv( "metin 1.csv" )

In [7]:
dataframe

      ad   soyad  yaş
0  yusuf  şimşek   14

### import 2. Kısım

In [11]:
len(dataframe)

1

In [12]:
dataframe.head(2)

      ad   soyad  yaş
0  yusuf  şimşek   14

#### Dataframe

In [23]:
dataframe.loc[len(dataframe.index)] = ['dilara' , 89,93]
dataframe.tail()
dataframe.sort_values(by='yaş' , ascending=False)

       ad   soyad  yaş
1  dilara      89   93
2  dilara      89   93
3  dilara      89   93
0   yusuf  şimşek   14

##### Dataframe Alt Kısım

In [15]:
dataframe

       ad   soyad  yaş
0   yusuf  şimşek   14
1  dilara      89   93